<div class="container">
  <mat-toolbar color="primary" class="toolbar">
    <h1>@testing-library/angular</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav">
    <mat-sidenav mode="side" opened="true">
      <mat-nav-list>
        <a mat-list-item *ngFor="let example of examples" [routerLink]="example.path">{{ example.data.name }}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-container">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
